*{
   box-sizing: border-box;
}

h1{
   text-align: center;
}

article{
   padding: 0 3% 3% 3%;
}

.caption{
   padding: 0 1% 3% 3%;
}

.caption_1, .caption_2, .caption_3{
   background-color: lightseagreen;
}

.header{
   width: 100%;
   height: 20%;
   position: relative;
   padding-bottom: 7%;
   
}

.header_1, .header_2, .header_3{
   font-size: 10px;
   text-align: center;
   border: 2px solid black; 
   position: relative;
   width: 20%;
   float: right;
   background-color: lightcyan;
}